__pycache__/TSCConfimentBarsRules.cpython-312.pyc
__pycache__/TSCMaterialModels.cpython-310.pyc
__pycache__/TSCMaterialModels.cpython-312.pyc
__pycache__/TSCResponseSpectra.cpython-312.pyc
.vscode/settings.json
